@import url(../styles/variable.css);

.header {
    padding: 1rem 0 0;

    width     : 100%;
    min-height: 50px;

    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

.header__title {
    color: var(--card-text-color);
}

.header__button {
    margin: 2rem 0 0;

    width : 250px;
    height: 30px;

    background-color: var(--button-color);
    color           : var(--card-text-color);

    border-radius: var(--border-radius-btn);
    border       : none;

    cursor: pointer;

    transition: all 0.3s;
}

.header__button:hover {
    background-color: var(--button-color-mod);
}